#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x04, SUBLANG_DEFAULT
#pragma code_page(936)
#endif


10106 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 9,"宋体",0,0,0x1
BEGIN
	PUSHBUTTON	"< 上一步(&B)",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"下一步(&N) >",1,215,196,50,14
	PUSHBUTTON	"取消",9,272,196,50,14
	LTEXT		"必须输入密码才能执行此安装程序。请注意，密码区分大小写。按一下“下一步”以继续。",901,17,40,297,32,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	EDITTEXT	4,17,81,298,12,ES_LEFT | WS_GROUP
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10201 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 9,"宋体",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"下一步(&N) >",1,216,196,50,14,WS_GROUP
	PUSHBUTTON	"取消",9,272,196,50,14
	PUSHBUTTON	"浏览(&R)...",31,260,156,50,14
	PUSHBUTTON	"< 上一步(&B)",12,166,196,50,14
	LTEXT		"安装程序将在以下文件夹中安装 %P。\n\n要安装到此文件夹，请单击“下一步”。要安装到其它文件夹，请单击“浏览”，然后选择其它文件夹。",202,17,40,298,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",201,23,160,220,8,ES_AUTOHSCROLL | SS_NOPREFIX | SS_LEFTNOWORDWRAP
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"选择目的地位置",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"选择安装程序在其中安装文件的文件夹。",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,32,197,23,13,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	GROUPBOX	"目的地文件夹",-1,17,145,298,32,NOT WS_TABSTOP | 0x40000000
END


